/*
Frontend Mentor
NFT Preview Card
C Lewis
clewisdev.com
December 2021
*/


body {
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
    background: hsl(217, 54%, 11%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/*------ CARD STYLING ------*/

#cube-img {
    justify-items: center;
}

#card {
    background-color: hsl(216, 50%, 16%);
    width: 475px;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2rem;
    /*position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);*/
}

/*------ FONT WEIGHTS ------*/

h1, #price {
    font-weight: 600;
}

h2, #days {
    font-weight: 400;
}

#creator {
    font-weight: 300;
}

/*------ COLORS ------*/

h1, #name {
    color: hsl(0, 0%, 100%);
}

#description, #days, #creator {
    color: hsl(215, 51%, 70%);
}

#price {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

hr {
    color: hsl(215, 32%, 27%);
}

#avatar {
    border: solid .15rem hsl(0, 0%, 100%);
    border-radius: 50%;
    
}

/*------ FLEXBOX ------*/

#info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;    
   
}

#price-wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#time-wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
}



footer {
    display: flex;
    align-items: center;
    gap: .5rem;
    
}




/*------ STYLE GUIDE ------
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600/*